/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

header {
  display: flex;
  padding: 1em;
  flex-direction: column;
  align-items: center;
}

.sidebar, .main, footer{
	padding: 20px;
}

.sidebar{
	background-color: #ccc;
}
.main{
	background-color: #efefef;
}
footer{
	text-align: center;
	background-color: #222;
	color: #fff;
}

@media screen and (min-width : 768px) { /* デスクトップ用CSS */
	header{
		flex-direction: row;
	}
	.container{
		display: flex;
	}
	.sidebar{
		width: 300px;
	}
	.main{
		flex: 1;
		order: 2;
	}
}
